#events {
	padding: 5px 10px 5px 5px;
	width: 340px;
	text-align: left;
	background-color: lightgoldenrodyellow;
}

#events > p {
	text-align: left;
}

#events > button {
	margin-left: 5px;
}

#events .list-header {
	margin-bottom: 10px;
}

#events .tile:hover button {
	display: inline-block;
}