#directory {
	padding: 0 10px 0 5px;
	height: 100%;
	width: 450px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: lightsteelblue;
	overflow-y: auto;
}

#directory .button {
	display: none;
}

#directory .tile:hover > button.directory-button {
	display: inline-block;
}

#pwinput {
	display: flex;
	flex-wrap: wrap;
	align-content: baseline;
}

#pwinput > input {
	display: inline-block;
	margin: 3px 5px 5px 0;
}

#pwinput > button {
	display: inline-block;
	width: 80px;
}

