#directory {
	padding: 0 10px 0 5px;
	width: 450px;
	height: calc(100vh - 90px);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
	background-color: lightsteelblue;
	overflow-y: auto;
}

#directory .button {
	display: none;
}

#directory .tile:hover > button.directory-button {
	display: inline-block;
}

#pwinput {
	height: 60px;
	margin-bottom: 10px;
	display: flex;
	flex-wrap: wrap;
	align-content: baseline;
}

#pwinput > input {
	display: inline-block;
	margin: 3px 5px 5px 0;
}

#pwinput > button {
	display: inline-block;
	width: 80px;
}

#pw-list {
	height: calc(100vh - 150px);
	overflow-y: auto;
}