#directory {
	margin: 0;
	padding: 0;
	min-width: 370px;
	height: calc(100vh - 100px);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: stretch;
	justify-content: flex-start;
	background-color: lightsteelblue;
	overflow-y: auto;
}

#directory .tile .button {
	display: none;
}

#directory .tile:hover > button.directory-button {
	display: inline-block;
}

.info-text {
	flex: 0 0 auto;
	text-align: left;
	margin: 5px;
}

#pwinput {
	flex: 0 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	align-content: baseline;
}

#pwinput > input {
	margin: 5px;
	border-radius: 5px;
	padding: 3px 5px;
}

#pw-list {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}

#pw-list > div {
	flex: 0 0 auto;
}